html
{
scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #1A237E;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 17px;
  }
  .alig{
    margin-top: 1.1rem;
  }
  .topnav img{

    margin-top: 0px;
    margin-left: 14rem;
    width: 60px;
  }
  .topnav a:hover {
    background-color: #1A237E;
    color: #a4acff;
  }
  #title{
    text-align: center;
    margin-right: 16rem;
    font-size: 25px;
    font-weight: 570;
    margin-top: 1.1rem;

  }

.row img
{
    height: 45vh;
    margin-top: 140px;
    animation-name: img-animate;
    animation-duration: 2s;
    animation-timing-function: ease-out;

}

.text-box
{
    float: left;
    width: 40%;
    margin-top: 5rem;
    height: 50vh;
    animation-name: text-animate;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    top: -100px;
}

.text-box h1
{
    font-family: 'Cinzel', serif;
    font-size: 70px;

}

.text-box p
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: rgb(86, 86, 92);
    margin-top: 0;
}

.button-box
{
    margin-top: 50px;
    margin-left: 5rem;
}

.button-box .login
{
    margin: 0 20px;
}

.button-box a:hover
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



@keyframes text-animate {
    from {margin-top: 1000px;}
    to {margin-top: 5rem;}
  }

@keyframes img-animate {
    from {margin-left: 1000px;}
    to {margin-left: 0px;}
  }
.banner{
    float: left;
    width: 50%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1A237E;
    color: white;
    text-align: center;
 }

 .btn{
     text-decoration: none;
     color: black;
     background-color: rgb(255, 255, 255);
     padding: 10px;
 }
 