html
{
scroll-behavior: smooth;
overflow: hidden
}

body 
{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x:hidden;

}

.row{
  margin:auto 0px!important;
}

.first-block
{
    background-image: url("/public/images/bg.png");
    background-size: cover;
    height: 100vh;
    width: 100%
} 

.topnav 
{
    position: fixed;
    width: 100%;
    background: rgb(0,0,0,0.2);
    border-radius: 0px;
    padding:1%;
    height: 80px;
}
.topnav img{

    
    
    width: 60px;
  }

.topnav a:hover 
{
    font-weight: bold;
    text-decoration: none;
    color: white
}

ul
{
    margin: 5px;
    padding-left: 10px;
    padding-right: 15px
}

li
{
    list-style: none;
    float: right;
    padding:0 1%;
}

li a 
{
    font-size: 30px;
    text-decoration: none;
    font-family: Galdeano;
    font-style: normal;
    font-weight: normal;
    line-height: 48px;
    text-align: justify;
    color:white
}
 
#title
{
    text-align: center;
    font-weight: 600;
}

.first-block
{
    background-image: url("/public/images/bg.png");
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding-top:50px;
} 


   
     table{
         text-align: center;
         margin: 100px auto;
        
     }
     table ul{
         margin-right: 42px;

     }
   
     input{
         width: 100%;
         border: none;
         height: 30px;
         outline: none;
         

     }
     form hr{
         width: 20rem;
     }
    .gap{
        margin-top: 10px;
    }

    .btn{
        
        padding: 1px 30px;
        font-size:1.5rem;
        border-radius: 3px;
        background-color: white;    
        color: rgb(47, 161, 186);
        font-weight: bold;
        font-family: Galdeano;
    }
    .btn:hover{
      font-weight: bold;
     }




.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    font-weight: bolder;
    color: white; 
 }