html
{
scroll-behavior: smooth;
}

body 
{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x:hidden;

}


.row{
  margin:auto 0px!important;
}


.topnav 
{
    width: 100%;
    background-image:url("/public/images/bg.png");
    background-size: cover;
    border-radius: 0px;
    padding:1%;
    height: 80px;
}
.topnav img{

    width: 60px;
    margin-bottom: 20rem;
  }

.topnav a:hover 
{
    font-weight: bold;
    text-decoration: none;
    color: white
}

ul
{
    margin: 5px;
    padding-left: 10px;
    padding-right: 15px
}

li
{
    list-style: none;
    float: right;
    padding:0 1%;
}

li a 
{
    font-size: 30px;
    text-decoration: none;
    font-family: Galdeano;
    font-style: normal;
    font-weight: normal;
    line-height: 48px;
    text-align: justify;
    color:white
}
 
#title
{
    text-align: center;
    font-weight: 600;
}

#top-content
{
    position: absolute;
    height: 492px;
    left: 54.93%;
    right: 6.02%;
    line-height: 2rem;
    top: 30vh;
    font-family: Galdeano;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    text-align: justify;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.topRow{
  padding:5px;
  padding-top: 20px;
  background-image:url("/public/images/bg.png");
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  font-family:  Galdeano;
}

.footer {
 
 
  background-color: (0,0,0,0);
  position:absolute;
  bottom:0;
  width:100%;
  text-align: center;
  font-weight: bolder;
  color:#0d0744;
}

 .btn{
   background-color: white;
   color:black;
   margin-top: -10px;
 }

 .btn:hover{
   background-color: rgb(189, 189, 189);
 }

 .gap{
   padding-top: 20px;
   margin-top: 20px;
   font-family: Galdeano;
   font-size:1.2rem;

 }
 .fun{
   margin-left: 10px;
 }