html
{
scroll-behavior: smooth;
}

body 
{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x:hidden;

}


.topnav 
{
    width: 100%;
    background-image:url("/public/images/bg.png");
    background-size: cover;
    border-radius: 0px;
    padding:1%;
    height: 80px;
}
.topnav img{

    
    
    width: 60px;
  }

.topnav a:hover 
{
    font-weight: bold;
    text-decoration: none;
    color: white
}

ul
{
    margin: 5px;
    padding-left: 10px;
    padding-right: 15px
}

li
{
    list-style: none;
    float: right;
    padding:0 1%;
}

li a 
{
    font-size: 30px;
    text-decoration: none;
    font-family: Galdeano;
    font-style: normal;
    font-weight: normal;
    line-height: 48px;
    text-align: justify;
    color:white
}
 
#title
{
    text-align: center;
    font-weight: 600;
}

.box{
    margin-top:100px;
}

.box p{
      font-size: 30px;
      font-family: 'Cinzel'
  }
   
 
      .row {
         margin: 20px 10px!important ;
    }
      
   
      .card p{
        font-family: 'Cinzel';
        font-size: 20px;
      }
      .card p a{
          color: black;
      }
      .want{
          margin-left: 40px;
      }
      .card:hover{
          background-color: #fcfcfc;
          box-shadow:2px 2px 2px 2px #c4c4c4;
      }
      .card a.link{
        text-decoration: none;
        color:#0d0744
      }

      .footer {
 
        background-color: (0,0,0,0);
        position:fixed;
        bottom:0;
        width:100%;
        text-align: center;
        font-weight: bolder;
        color:#0d0744;
      }
    
     .box{
           
            margin-top:15px ;
            border-radius: 20px 20px;
            padding: 30px;
            background-color: rgb(242, 247, 237); 
            color:#0d0744
     }
    .box h5,h6{
        font-family: 'Cinzel'
    }
    .box a{
        animation: button 2s ease-out;
    }
     
    
    .box a:hover{
        background-color: #0d0744;
        color: #ffffff;
    }
   
      .column {
        float: left;
        width: 100%;
        padding: 0 10px;
        margin-top: 20px;
     
     }
    
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      
        margin-bottom: 40px;
        background-color: rgb(242, 247, 237);
        border-radius: 20px;
        padding-bottom: 50px;
    
        height: 580px;
  
      }
      .card p{
        font-family: 'Cinzel';
        font-size: 20px;
        color:black;
      }
      .card p{
          color:#0d0744;
          font-weight: bold;
      }
     
      .card:hover{
          background-color: #fcfcfc;
          box-shadow: 5px 7px #dfdfdf;
      }
      .card a.link{
        text-decoration: none;
        color:#0d0744;
      }

.btn{
    text-decoration: none;
    color: white;
    background-color: #0d0744;
    padding: 5px 40px;
    border-radius: 3px;
    font-size: 1.5rem;
    font-family:Galdeano;  
       
}
.btn:hover{
 color:#c4c4c4;
 background-color: #070424;
}


.card img{
  padding-top: 0;
    margin: auto;
}
.btn:hover{
   font-weight: bold;
} 

h2{
  font-family: Galdeano;
  font-size:2.5rem;
  font-weight: bold
}